@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat/Montserrat-Regular.ttf");
}
:root {
  --main-bg-color: #fbfbf2;
}
html {
  min-height: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-image: url("./assets/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Montserrat";
}
main {
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
.header__cv {
  margin-top: 30px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  font-family: "Montserrat";
  text-align: center;
  padding: 20px;
  border-width: 5px 5px 5px 5px;
  border-style: outset;
}
.link {
  color: black;
}
h1 {
  display: inline-block;
  background-color: var(--main-bg-color);
  font-size: 32pt;
}
h2 {
  display: inline-block;
  background-color: var(--main-bg-color);
  font-size: 24;
}
ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}
.contacts__spisok {
  display: flex;
  flex-wrap: nowrap;
}
.contacts {
  display: inline-block;
  background-color: #fbfbf2;
  font-size: 24pt;
}
.image {
  border-radius: 50%;
  /* box-shadow: 26px -24px 21px -5px rgba(178, 184, 238, 0.849); */
  height: 100%;
  width: 100%;
}
.first {
  flex-grow: 1;
  padding: 20px;
  border-width: 0px 5px 5px 5px;
  border-style: outset;
  /* background-color: var(--main-bg-color); */
  flex-basis: 4cqmin;
}
.second {
  flex-grow: 1;
  padding: 20px;
  background-color: #a6a2a2;
  flex-basis: 70%;
}
pre {
  color: #e5e6e4;
  background-color: #847577;
  font-size: 14pt;
  text-align: left;
}
.contacts__spisok {
  padding: 10px;
}
i {
  padding-right: 10px;
}
.q {
  font-style: italic;
  color: navy;
  quotes: "«" "»";
}
.image2 {
  margin-top: 12px;
  height: 20%;
  width: 20%;
  border-radius: 16%;
  position: relative;
}
.spisok li {
  margin-bottom: 10px;
}
.spisok {
  list-style: none;
}
.efset {
  text-decoration: underline;
}
a {
  all: unset;
  cursor: pointer;
}
footer {
  padding: 10px 20px;

  color: white;
  border-width: 5px 5px 5px 5px;
  border-style: outset;
}
.image3 {
  width: 100px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-footer {
  display: flex;
  align-items: center;
}